<link rel="stylesheet" href="/css/admin/add-recruitment.css">

<div class="admin__container col gap-24 full-width item-center">
    <div aria-label="breadcrumb" class="full-width">
        <ul class="breadcrumb row">
            <li class="breadcrumb-item"><a href="/admin" class="spa-action">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/recruitment-management" class="spa-action">Quản Lý Tuyển Dụng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa bài tuyển dụng</li>
        </ul>
    </div> 
    
</div>

<script src="/js/admin/edit-recruitment.js"></script>