<link rel="stylesheet" href="/css/admin/edit-system-exercise-topic.css">

<div class="admin__container col gap-24 full-width">
    <div aria-label="breadcrumb">
        <ul class="breadcrumb row">
            <li class="breadcrumb-item"><a href="/admin" class="spa-action">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/system-exercise-management" class="spa-action">Quản Lý Bài Tập Hệ Thống</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa thông tin chủ đề</li>
        </ul>
    </div>
    
</div>

<script src="/js/admin/edit-system-exercise-topic.js"></script>