<link rel="stylesheet" href="/css/admin/header.css">
<header class="row full-width flex-box">
    <button type="button" class="sidebar-toggle center"><ion-icon name="ellipsis-vertical"></ion-icon></button>
    <div class="navbar-collapse row item-center gap-24">
        <div class="notifications__icon center">
            <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <div class="book__icon center">
            <ion-icon name="book-outline"></ion-icon>
        </div>
        <div class="avatar__container center relative">
            <a href="/admin/login" class="full-height full-width center">
                <ion-icon name="person-outline"></ion-icon>
            </a>
        </div>
    </div>
</header>