<link rel="stylesheet" href="/css/admin/nav.css">
<nav class="col full-height">
    <div class="logo__container center">
        <div class="logo full-height">
            <img src="/images/logo-text.png" alt="">
        </div>
    </div>
    <div class="nav__header full-width">
        <span>Pages</span>
    </div>
    <ul class="menu col gap-8 full-width">
        <li class="col has-sub-menu">
            <a href="/admin" id="dashboard" class="main item-center row gap-16 spa-action">
                <div class="title row gap-8 item-center">
                    <div class="title__icon center">
                        <i class="fa-solid fa-gauge"></i>
                    </div>
                    <span>Dashboard</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
<script src="/js/admin/nav.js"></script>