<link rel="stylesheet" href="/css/admin/permission-management.css">
<div class="admin__container col gap-24 full-width">
    <div aria-label="breadcrumb">
        <ul class="breadcrumb row">
            <li class="breadcrumb-item"><a href="/admin" class="spa-action">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/admin-management" class="spa-action">Quản Lý Quản Trị Viên</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lý Phân Quyền</li>
        </ul>
    </div>
    <div class="row gap-24 flex-1">
        <div class="role__container col panel full-height">
            <div class="panel__header row flex-box item-center">
                <span>Chức vụ</span>
                <button class="manager-role-btn add-btn action-btn row gap-4 item-center"><ion-icon name="settings-outline"></ion-icon> <span>Quản lý</span></button>
            </div>
            <div class="panel__body col flex-1">
            </div>
        </div>
        <div class="role_permission___container col panel full-height flex-1">
            <div class="panel__header row flex-box item-center">
                <span>Phân quyền</span>
                <button class="submit-role-permissions-btn add-btn action-btn row gap-4 item-center"><ion-icon name="save-outline"></ion-icon> <span>Lưu</span></button>
            </div>
            <div class="panel__body row wrap flex-1 gap-24">
                
            </div>
        </div>
    </div>
</div>
<div class="blur__container center role_manage___container scale-up-center">
    <div class="role_manage___box col panel scale-up-center">
        <div class="panel__header">
            <span>Quản lí chức vụ</span>
        </div>
        <div class="panel__body col gap-24">
            <ul class="col gap-4">
                
            </ul>
            <div class="panel__action row full-width">
                <button class="hide-blur-container action-btn add-btn center full-width">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/permission-management.js"></script>