/* ? Input component */
.wo-input {
    position: relative;
    height: 32px;
}

.wo-input input {
    width: 100%;
    height: 100%;
    color: var(--color-black-100);
    border: 0.8px solid var(--color-white-60);
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 40px;
    font-size: .875rem;
}

.wo-input input:focus {
    border: 0.8px solid var(--color-white-60);
    outline: none;
}

.wo-input span {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4px;
    padding-top: 2px;
    position: absolute;
    font-size: .875rem;
    color: var(--color-white-60);
    height: 100%;
    top: 0;
    right: 0;
}

/* ? Textarea component */
.wo-textarea {
    position: relative;
    min-height: 76px;
}

.wo-textarea textarea {
    width: 100%;
    height: 100%;
    color: var(--color-black-100);
    border: 0.8px solid var(--color-white-60);
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: .875rem;
    resize: vertical;
    min-height: 76px;
    font-family: 'Roboto', sans-serif;
}

.wo-textarea textarea:focus {
    border: 0.8px solid var(--color-white-60);
    outline: none;
}

.wo-textarea span {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4px;
    padding-top: 2px;
    position: absolute;
    font-size: .875rem;
    color: var(--color-white-60);
    bottom: 2px;
    right: 4px;
}

/* ? Select component */
.wo-select {
    color: var(--color-black-100);
    border: 0.8px solid var(--color-white-60);
    border-radius: 2px;
    height: 32px;
    padding: 0 12px;
    background-color: var(--color-neutral-100);
    line-height: 1;
    font-size: 1rem;
    cursor: pointer;
}

.wo-select.unchangeable {
    cursor: not-allowed;
}

.wo-select .selected-text {
    font-size: .875rem;
    color: var(--color-black-100);
    line-height: 1;
}

.wo-select .option__list {
    display: none;
    top: 103%;
    left: 0;
    border-radius: 4px;
    background-color: var(--color-neutral-100);
    z-index: 999;
    box-shadow: var(--shadow);
    height: fit-content;
    overflow: hidden;
}

.wo-select .option__list ul {
    max-height: 200px;
    overflow-y: auto;
}

.wo-select .option__list li {
    padding: 8px 12px;
    font-size: .875rem;
    color: var(--color-text-primary);
    background-color: var(--color-neutral-100);
}

.wo-select .option__list li.selected {
    color: var(--color-primary);
}

.wo-select .option__list li:hover {
    background-color: var(--color-neutral-90);
}

/* ? Topic component */
.topic-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.level_topic_list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
}

.topic-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    padding: 12px 16px;
    color: var(--color-white-100);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

.topic-item .name {
    display: flex;
    height: 38px;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    text-shadow: 0 0 4px rgba(0, 0, 0, .42);
}

.topic-item .description {
    display: flex;
    font-size: .75rem;
    font-weight: 300;
    text-shadow: 0 0 4px rgba(0, 0, 0, .42);
}

.topic-item .description span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.topic-item .action a, .topic-item .action button {
    padding: 4px 16px;
    font-size: .75rem;
    color: var(--color-success);
    background-color: var(--color-white-100);
    border-radius: 4px;
}

.topic-item.continue .progress-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #EEEEEE;
}

.topic-item.continue .progress-bar__fill {
    height: 3px;
    background-color: var(--color-success);
}

.topic-item.locked .locked-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 175, 155, 0.7);
    color: var(--color-black-70);
    cursor: pointer;
}

.topic-item.locked .locked-screen__body {
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    user-select: none;
}

.topic-item.locked .locked-screen__body .icon {
    position: absolute;
    top: -18px;
    left: 66px;
    transform: rotate(35deg);
}

/* ? question component */
.edit-question-item {
    color: var(--color-text-primary);
    font-size: .875rem;
    border-bottom: .8px dashed var(--color-border);
    padding: 12px 0;
}

.edit-question-item label span {
    color: var(--color-danger);
}

.edit-question-item .wo-textarea {
    min-height: 32px;
}

.edit-question-item textarea {
    min-height: 32px;
    padding: 4px 12px;
    height: auto;
}

.edit-question-item .wo-select {
    margin-top: auto;
    margin-bottom: auto;
    width: 220px;
}

.edit-question-item .image_col {
    margin-top: 16px;
    font-size: 24px;
}

.edit-question-item .question_col {
    flex-grow: 1;
}

.edit-question-item .question_col textarea {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--color-primary);
}

.edit-question-item .question_col textarea:focus {
    background-color: var(--color-neutral-90);
}

.edit-question-item .question-option {
    margin: 8px 0;
}

.edit-question-item .question-option .icon {
    padding: 12px 0 12px 12px;
}

.edit-question-item .question-option .content {
    flex-grow: 1;
}

.edit-question-item .question-option .content textarea {
    border: 0;
    border-bottom: .8px solid var(--color-border);
}

.edit-question-item .question-option .content textarea:focus {
    border-bottom: .8px solid var(--color-primary);
}

.edit-question-item .change-question-image, .edit-question-item .icon {
    cursor: pointer;
}

.edit-question-item .icon {
    color: var(--color-white-60);
}

.edit-question-item .question-option.is_correct .icon {
    color: var(--color-primary);
}

.edit-question-item .question-option .change-question-image, .edit-question-item .question-option .remove-option-btn {
    font-size: 20px;
}

.edit-question-item .question__action {
    justify-content: end;
    padding-top: 20px;
    color: var(--color-black-100);
}

.edit-question-item .question__action .remove-question-btn,
.edit-question-item .question__action .add-option-btn,
.edit-question-item .question__action .submit-question-btn {
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.edit-question-item .question__action .submit-question-btn {
    color: var(--color-primary);
}

.edit-question-item .image-container {
    max-height: 350px;
    max-width: 350px;
}

.edit-question-item .image-container .remove-image-btn, .edit-question-item .remove-old-image-btn {
    top: 4px;
    right: 4px;
    background-color: #fff;
    color: var(--color-danger);
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border: 1px solid #bfbfbf;
}

.edit-question-item .question__action .remove-question-btn:hover,
.edit-question-item .question__action .submit-question-btn:hover,
.edit-question-item .question__action .add-option-btn:hover {
    background-color: var(--color-neutral-90);
}

.edit-question-item .question-option .preview-image {
    max-width: 420px;
}

/* ? Nút toggle */ 
.wo-toggle {
    width: 40px;
    height: 20px;
}

.wo-toggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.wo-toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 20px; 
    position: relative;
}

.wo-toggle label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.wo-toggle input:checked + label {
    background: #bada55;
}

.wo-toggle input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.wo-toggle label:active:after {
    width: 18px;
}

/* ? testcase component */
.edit-testcase-item button {
    width: 28px;
    height: 28px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.edit-testcase-item button:hover {
    color: var(--color-danger);
}

.edit-testcase-item .wo-textarea, .edit-testcase-item .wo-textarea textarea {
    min-height: 12px;
}

.edit-testcase-item .wo-textarea {
    flex: 1 1 50%;
}

/* ? Bài tập chủ đề */
.topic-exercise-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topic-exercise-header {
    font-size: .875rem;
    font-weight: 700;
    color: var(--color-black-60);
    height: 24px;
}

.topic-exercise-item {
    font-size: .875rem;
    height: 56px;
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--color-neutral-100);
    color: var(--color-text-primary);
}

.topic-exercise-item:hover {
    border-bottom: 1px solid #b7b7b7;
}

.topic-exercise-item .icon_col, .topic-exercise-header .icon_col {
    width: 7%;   
    font-size: 1.25rem; 
}

.topic-exercise-item .id_col, .topic-exercise-header .id_col {
    width: 50px;
}

.topic-exercise-item .title_col, .topic-exercise-header .title_col {
    width: 43%;
}

.topic-exercise-item .title_col {
    font-weight: 500;
}

.topic-exercise-item .type_col, .topic-exercise-header .type_col {
    width: 10.67%; 
    color: var(--color-black-60);
}

.topic-exercise-item .level_col, .topic-exercise-header .level_col {
    width: 8.67%;
    font-weight: 500;
    opacity: .9;
}

.topic-exercise-item .level_col span::first-letter {
    text-transform: uppercase;
}

.topic-exercise-item .bonus_scores_col, .topic-exercise-header .bonus_scores_col {
    width: 12.67%;    
}

.topic-exercise-item .action_col, .topic-exercise-header .action_col {
    display: flex;
    justify-content: end;
    flex-grow: 1;    
}

.topic-exercise-item .action_col a, .topic-exercise-item .action_col button {
    padding: 4px 16px;
    font-size: .75rem;
    color: var(--color-neutral-100);
    border-radius: 4px;
}

/* ? Câu hỏi bài tập trắc nghiệm */
.list-preview-question {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.preview-question-item {
    width: calc(25% - 12px);
    display: flex;
    aspect-ratio: 1;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-black-100);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-question-item.selected {
    background-color: var(--color-white-70);
}

.question-item {
    color: var(--color-black-100);
}

.question-item .question-option .icon {
    color: var(--color-white-60);
}

.question-item .question-option.is_selected .icon,
.question-item .question-option .icon.is_correct {
    color: var(--color-primary);
}