<link rel="stylesheet" href="/css/user/class.css">
<div class="limit-view container row gap-24">
    <div class="class__container user__container col gap-48 item-center">
        <div class="search__container center">
            <div class="search__box">
                <form action="" class="row relative full-width full-height">
                    <input type="text" class="full-width full-height" name="" id="keyword" placeholder="Tìm kiếm theo tên lớp học, tên giảng viên...">
                    <button type="submit" class="absolute center"><ion-icon name="search-outline"></ion-icon></button>
                </form>
            </div>
        </div>
        <div class="class__panel w-full-screen center">
            <div class="limit-view container col gap-24">
                <div class="hot-classes__container col" id="hot_classes">
                    <div class="title col">
                        <span>Lớp Học Nổi Bật</span>
                        <p>Một số lớp học có lượng học viên đông đảo và nhận được phản hồi tích cực từ phía học viên</p>
                    </div>
                    <div class="body">

                    </div>
                </div>
                <div class="instructor-register__container col center gap-16">
                    <span>Đăng ký để trở thành giảng viên</span>
                    <p>Nếu bạn là một người đang hoạt động công việc giảng dạy trong ngành lập trình và có nhu cầu đăng ký mở lớp học tại WiseOwl để hỗ trợ việc giảng dạy của mình, hãy đăng ký để trở thành giảng viên.</p>
                    <a href="/instructor-register" class="spa-action center">Đăng ký</a>
                </div>
                <div class="suggest-class__container">
                    <div class="title col">
                        <span>Gợi ý</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/user/class.js"></script>