<link rel="stylesheet" href="/css/user/contact.css" />
<div class="limit-view container">
  <div
    class="contact__container user__container col gap-64 item-center full-width"
  >
    <div class="block1 row full-width">
      <div class="left col">
        <div class="top-block">
          <span data-translate="contact_text1">Liên hệ với chúng tôi</span>
        </div>
        <h1 data-translate="contact_text2">
          Chúng tôi có thể giúp gì cho bạn?
        </h1>
        <span data-translate="contact_text3"
          >Hãy cho chúng tôi biết bạn là ai và bạn đang cần trợ giúp điều
          gì.</span
        >
        <div class="info-container row">
          <div class="name col">
            <label for="name" data-translate="contact_text4">Tên của bạn</label>
            <input type="text" id="name" />
          </div>
          <div class="email col">
            <label for="email" data-translate="contact_text5">Email</label>
            <input type="text" id="email" />
          </div>
          <div class="phone col">
            <label for="phone_number" data-translate="contact_text6"
              >Số điện thoại</label
            >
            <input type="text" id="phone_number" />
          </div>
        </div>
        <div class="message col">
          <label for="message" data-translate="contact_text7"
            >Câu hỏi của bạn</label
          >
          <textarea name="" id="message"></textarea>
        </div>
        <button
          type="button"
          class="sent-request"
          data-translate="contact_text1"
          data-translate="contact_text8"
        >
          Gửi câu hỏi
        </button>
      </div>
      <div class="right col">
        <h1 data-translate="contact_text8">Cơ sở 1</h1>
        <ul class="col edit-element">
          <li>
            <ion-icon name="location-outline"></ion-icon>
            <p id="contact_text1">
              ABC/XYZ Khuất Duy Tiến, phường Nhân Chính, Quận Thanh Xuân, Hà
              Nội.
            </p>
          </li>
          <li>
            <ion-icon name="call-outline"></ion-icon>
            <p id="contact_text2">0120 224 703</p>
          </li>
          <li>
            <ion-icon name="mail-open-outline"></ion-icon>
            <p id="contact_text3">admin@wiseowl.com.vn</p>
          </li>
        </ul>
        <div class="hr"></div>
        <h1 data-translate="contact_text9">Cơ sở 2</h1>
        <ul class="col edit-element">
          <li>
            <ion-icon name="location-outline"></ion-icon>
            <p id="contact_text4">
              Quốc lộ 1A, xã Gia Xuân, huyện Gia Viễn, tỉnh Ninh Bình.
            </p>
          </li>
          <li>
            <ion-icon name="call-outline"></ion-icon>
            <p id="contact_text5">0986 123 123</p>
          </li>
          <li>
            <ion-icon name="mail-open-outline"></ion-icon>
            <p id="contact_text6">admin@wiseowl.com.vn</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="block2 row full-width flex-box">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.661840444478!2d105.84055577596925!3d21.006188188552017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac71294bf0ab%3A0xc7e2d20e5e04a9da!2zxJDhuqFpIEjhu41jIELDoWNoIEtob2EgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1737251325022!5m2!1svi!2s"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="extra-info col">
        <ul class="social-container row">
          <li class="social center">
            <ion-icon name="logo-tiktok"></ion-icon>
          </li>
          <li class="social center">
            <ion-icon name="logo-facebook"></ion-icon>
          </li>
          <li class="social center">
            <ion-icon name="logo-youtube"></ion-icon>
          </li>
          <li class="social center">
            <ion-icon name="logo-twitter"></ion-icon>
          </li>
        </ul>
        <div class="logo">
          <img src="/images/logo-light.png" alt="" srcset="" />
        </div>
        <h1>WISEOWL GROUP</h1>
      </div>
    </div>
  </div>
</div>
<script src="/js/user/contact.js"></script>
