<link rel="stylesheet" href="/css/user/footer.css">
<footer class="center">
    <div class="limit-view container flex-box item-center gap-24">
        <span>Copyright © 2024 WiseOwl</span>
        <ul class="row contact">
            <li>Email: vuq147@gmail.com</li>
            <li>Phone: 0399348711</li>
            <li><a href="/contact" class="spa-action">Liên hệ</a></li>
            <li><a href="/recruitments" class="spa-action">Tuyển dụng</a></li>
        </ul>
    </div>
</footer>
<script src="/js/user/footer.js"></script>