<link rel="stylesheet" href="/css/user/header.css">
<header class="full-width center sticky-top">
    <div class="limit-view container row item-center relative">
        <div class="logo__container center hide">
            <a href="/" class="logo-image spa-action full-width full-height">
                <img src="/images/logo-dark.png" alt="" srcset="">
            </a>
        </div>
        <nav class="row gap-24 item-center relative">
            <div class="underline-bg absolute"></div>
            <a href="/" class="nav-item spa-action col item-center" id="home_nav">Trang Chủ</a>
            <a href="/class" class="nav-item spa-action col item-center" id="class_nav">Lớp Học</a>
            <a href="/practice" class="nav-item spa-action col item-center" id="practice_nav">Luyện Tập</a>
            <a href="/compiler" class="nav-item spa-action col item-center" id="compiler_nav">Compiler</a>
            <a href="/forum" class="nav-item spa-action col item-center" id="forum_nav">Diễn Đàn</a>
        </nav>
        <div class="user-bar row gap-24 item-center">
            <div class="notifications__icon center">
                <ion-icon name="notifications-outline"></ion-icon>
            </div>
            <div class="book__icon center">
                <ion-icon name="book-outline"></ion-icon>
            </div>
            <div class="avatar__container center relative">
                <a href="/login" class="full-height full-width center">
                    <ion-icon name="person-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</header>
<script src="/js/user/header.js"></script>