<link rel="stylesheet" href="/css/user/instructor-register.css">
<div class="full-width col item-center">
    <div class="main user__container full-width limit-view col gap-24 item-center">
        
    </div>
</div>
<script src="/js/user/instructor-register.js"></script>