<link rel="stylesheet" href="/css/user/practice.css">
<div class="limit-view container row gap-24">
    <div class="system_exercise_topic__container col gap-48">
        <div class="topic-level__panel full-width col gap-16" id="level_">
            <div class="topic-level__title full-width">
                <span>Tên level</span>
            </div>
            <div class="topic-level__list full-width row wrap gap-16"></div>
        </div>
    </div>
</div>
<script src="/js/user/practice.js"></script>