<link rel="stylesheet" href="/css/user/practice.css">
<div class="limit-view container row gap-24">
    <div class="practice__container user__container col gap-48">
        
    </div>
</div>
<script src="/js/user/practice.js"></script>