<link rel="stylesheet" href="/css/user/recruitment.css" />
<div class="limit-view container">
  <div class="recruitment__container user__container col gap-16">
    <div class="row center block col title-header-recruitment">
      <h1 class="" data-translate="recruitments_text1">Cơ hội nghề nghiệp</h1>
      <label style="text-align: center"
        >WiseOwl là nơi để nhân viên khám phá giới hạn và bứt phá bản thân. Công
        ty tìm kiếm những nhân tài có tầm nhìn, biết hoạch định mục tiêu, làm
        việc đam mê và tạo ra sự khác biệt.</label
      >
    </div>
    <div class="row block">
      <div class="col recruitments-container left"></div>
      <div class="right">
        <div class="col general-info">
          <div class="card-item edit-element">
            <div class="card-item-body">
              <div class="logo">
                <div class="full-width">
                  <img src="/images/logo-light.png" alt="" />
                </div>
              </div>
              <div class="row" style="margin-top: 12px">
                <div class="col-4 row">
                  <ion-icon
                    name="people-outline"
                    style="font-size: 1.5rem"
                  ></ion-icon>
                  <p
                    data-translate="recruitments_text10"
                    style="
                      display: flex;
                      width: 80px;
                      height: 24px;
                      font-size: 1rem;
                      align-items: center;
                    "
                  >
                    Quy mô
                  </p>
                </div>
                <div class="col-8">
                  <p id="recruitments_text1">30-100 nhân viên</p>
                </div>
              </div>
              <div class="row" style="margin-top: 12px">
                <div class="col-4 row">
                  <ion-icon
                    name="location-outline"
                    style="font-size: 1.5rem"
                  ></ion-icon>
                  <p
                    data-translate="recruitments_text11"
                    style="
                      display: flex;
                      width: 80px;
                      height: 24px;
                      font-size: 1rem;
                      align-items: center;
                    "
                  >
                    Địa điểm
                  </p>
                </div>
                <div class="col-8">
                  <p id="recruitments_text2">
                    104/140 Khuất Duy Tiến, phường Nhân Chính, Quận Thanh Xuân,
                    Hà Nội.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-item edit-element" style="margin-top: 20px">
            <div class="card-body">
              <div class="row col">
                <h1
                  class="title-header-item"
                  data-translate="recruitments_text12"
                >
                  Thông tin chung
                </h1>
              </div>
            </div>
            <div class="row card-item-content">
              <div class="icon-card-item">
                <ion-icon name="card-outline"></ion-icon>
              </div>
              <div class="row col">
                <p data-translate="recruitments_text13">Cấp bậc</p>
                <h3 id="recruitments_text3">Đại học chính quy</h3>
              </div>
            </div>
            <div class="row card-item-content">
              <div class="icon-card-item">
                <ion-icon name="hourglass-outline"></ion-icon>
              </div>
              <div class="row col">
                <p data-translate="recruitments_text14">Kinh nghiệm</p>
                <h3 id="recruitments_text4">3 năm</h3>
              </div>
            </div>
            <div class="row card-item-content">
              <div class="icon-card-item">
                <ion-icon name="briefcase-outline"></ion-icon>
              </div>
              <div class="row col">
                <p data-translate="recruitments_text15">Hình thức làm việc</p>
                <h3 id="recruitments_text5">Nhân viên chính thức</h3>
              </div>
            </div>
            <div class="row card-item-content">
              <div class="icon-card-item">
                <ion-icon name="male-female-outline"></ion-icon>
              </div>
              <div class="row col">
                <p data-translate="recruitments_text16">Giới tính</p>
                <h3 id="recruitments_text6">Nam/Nữ</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blur__container" style="display: none">
      <div class="apply-container center" style="display: none">
        <form action="" id="apply-form" class="col">
          <h2></h2>
          <button class="x-btn center" style="font-size: 1.5rem;" type="button">
            <ion-icon name="close-outline"></ion-icon>
          </button>
          <label for="fullname" data-translate="recruitments_text17"
            >Họ và tên</label
          >
          <input type="text" name="" id="fullname" />
          <label for="email" data-translate="recruitments_text18">Email</label>
          <input type="text" name="" id="email" />
          <label for="phone_number" data-translate="recruitments_text19"
            >Số điện thoại</label
          >
          <input type="text" name="" id="phone_number" />
          <label for="cv_link" data-translate="recruitments_text20">CV</label>
          <input
            type="text"
            name=""
            id="cv_link"
            placeholder="Đường dẫn đến CV"
          />
          <button
            type="submit"
            class="submit-form"
            data-translate="recruitments_text21"
          >
            Nộp đơn ứng tuyển
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/user/recruitment.js"></script>
