<link rel="stylesheet" href="/css/user/system-exercise-topic.css">
<div class="limit-view container row gap-24">
    <div class="system_exercise_topic__container user__container col item-center">
    </div>
</div>
<script src="/js/user/system-exercise-topic.js"></script>