@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.top-view {
    min-width: 1200px;
    height: calc(100vh - 65px);
    width: 100vw;
    background: rgb(10,14,20);
    background: linear-gradient(90deg, rgba(35,39,50,1) 0%, rgba(10,14,20,1) 14%, rgba(35,39,50,1) 32%, rgba(10,14,20,1) 100%, rgba(97,108,127,1) 100%);
    position: relative;
}

.top-view .logo {
    position: absolute;
    width: 430px;
    top: 35vh;
    left: calc((100% - 1200px) / 2);
}

.top-view .slogan {
    position: absolute;
    top: 35vh;
    right: calc((100% - 1200px) / 2);

}

.top-view .slogan h1 {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.25rem;
}

.top-view .slogan p {
    color: var(--color-white-60);
    font-size: 1rem;
}

.custom-shape-divider-top-1737249326 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1737249326 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 217px;
}

.custom-shape-divider-top-1737249326 .shape-fill {
    fill: #FFFFFF;
}