<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseOwl | Admin - Login</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-light-16x16.png" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-dark-16x16.png" media="(prefers-color-scheme: dark)">

    <!-- Thư viện cho ionicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="/libraries/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/libraries/fontawesome-free-6.6.0-web/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/login.css">
    <script src="/js/utils.js"></script>
</head>
<body>
    <div class="login__container item-center">
        <div class="icon-header center">
            <img src="/images/dark-user.png" alt="" srcset="">
        </div>
        <form action="" id="login_form" class="full-width item-center col gap-24">
            <div class="input-box row item-center full-width">
                <div class="icon-input center">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <input type="text" name="" id="username" class="full-height">
            </div>
            <div class="input-box row item-center full-width">
                <div class="icon-input center">
                    <ion-icon name="key-outline"></ion-icon>
                </div>
                <input type="password" name="" id="password" class="full-height">
            </div>
            <button type="submit" class="full-width center">Log in</button>
        </form>
    </div>
</body>
<script src="/js/admin/login.js"></script>
</html>